<div class="todos">
  <form (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter todo ..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="Add Todo" class="todo-submit" />
  </form>
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }} "
  >
    <span class="outer">
      <span class="inner">
        <div class="content" (click)="toggleTodo(i)">
          {{ i + 1 }} {{ todo.content }}
        </div>
      </span>
    </span>

    <div>
      <button class="delete" (click)="deleteTodo(i)"><b>Remove</b></button>
    </div>
  </div>
</div>
